@page "/coregroup"
@inject AppStateContainer state
@inject HttpClient httpClient
@using SectorBalanceClient
@using SectorBalanceShared

<style type="text/css">
    .small {
        font: 12px sans-serif;
    }

    .normal {
        font: 16px sans-serif;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
</style>

<div class="row">
    <div class="column">
        <DataGrid Items="@modelEquityList" TItem="ModelEquity">
            <HeaderTemplate>
                <th>Symbol</th>
                <th>Name</th>
                <th>Percent</th>
                <th>Last Price</th>
            </HeaderTemplate>
            <RowTemplate>
                <td>@context.Equity.Symbol</td>
                <td>@context.Equity.SymbolName</td>
                <td>@context.Percent</td>
                <td>@context.LastPrice</td>
            </RowTemplate>
            <FooterTemplate>
                <td colspan="2">
                    @context.Count equities found. 
                </td>
            </FooterTemplate>
        </DataGrid>

    </div>
    <div class="column">
        <LineChart EquityList="@GetEquityList()" />
    </div>
</div>

@code
{

    private List<ModelEquity> modelEquityList = new List<ModelEquity>();

    private string GetEquityList()
    {
        return "xlf,xle,xlk";
    }

    protected override async Task OnInitAsync()
    {
        var response = await httpClient.GetJsonAsync<List<ModelEquity>>($"{state.APIUrl}/api/model/getcore");
   
        modelEquityList = response.ToList();    
    }
    
}
