@page "/counter"
@inject AppStateContainer state
@inject HttpClient httpClient
@using SectorBalanceShared

<h1>Counter</h1>

<p>Current User Name: @state.UserName</p>
<p>Current Guid: @state.UserId</p>

<p>API Url: @state.APIUrl</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@(async () => await ListEquities())">Click me</button>


@foreach (var equity in equityList)
{
    <p>Symbol: @equity.SymbolName</p>
    <br />

}


@functions {

    private List<Equity> equityList = new List<Equity>();

    int currentCount = 0;

    private async Task ListEquities()
    {
        var response = await httpClient.GetJsonAsync<List<Equity>>($"{state.APIUrl}/api/equity/getlist");
        equityList = response.ToList();
    }

}
